@font-face {
    
    src: url('font/UTM\ Avo.ttf'); 
    font-family: 'HPAvo';
}
body{
    font-family: 'HPAvo';
    margin: 0 0;
}
.header{
    margin-top: 30px;
    width: 100%;
    height: 35px;
}
.header .header__title{
    text-align: center;
    color: #079b19;
}
.navbar{
    width: 100%;
}
.navbar ul{
    text-align: center;
}
.navbar ul li{
    display: inline;
}
.navbar ul li .nav__item{
    font-weight: 500;
    color: #7c7c7c;
    size: 18px;
    text-decoration: none;
    margin-right: 30px;
}
.banner{
    margin-top: 80px;
    width: 100%;
}
.container{
    padding: 0 15% 0 15%;
    
}
.container .banner__img{
    width: 100%;
}
.banner .fas{
    color: #848484;
    font-size: 50px;
}
.banner .fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 8%;
}
.banner .fa-chevron-right{
    top: 50%;
    right: 8%;
    position: absolute;
}
.dot__icon{
    margin-top: 40px;
    text-align: center;
}
.dot__icon .active.fa-circle:before{
    color: #b8b8b8;
}
.dot__icon .fa-circle:before {
    color: #d5d5d5;
    margin-left: 10px;
}
.living__room h2{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 200;
    color: #079b19;
}
.living__room .lv__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}
.living__room .lv__content .lv__item{
    width: 23.5%;
}
.living__room .lv__content .lv__item .lv__img{
    width: 100%;
}
.living__room .lv__content .lv__item .lv__title{
    color: #079b19;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 0;
}
.living__room .lv__content .lv__item .lv__desc{
    color: #848484;
    text-align: center;
    font-size: 11px;
}

.intro{
    margin-top: 80px;
    width: 100%;
}
.intro__content{
    padding: 0 5% 0 5%;
}
.intro__content .intro__banner{
    width: 100%;
}
.intro .intro__block{
    background: white;
    position: absolute;
    top: 185%;
    left: 21%;
    opacity: 0.8;
    width: 50%;
    height: 460px;
    padding: 50px;
}
.intro__block .block__title{
    color: #079b19;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}
.intro__block .block__desc{
    color: gray;
    font-size: 12px;
}
.intro__block .block__btn {
    margin-top: 130px;
    margin-left: 240px;
    text-align: center;
    border: none;
    padding: 25px 100px 25px 100px;
    background: #079b19;
    color: white;
    opacity: 1;
    font-size: 20px;
}
.blogs {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogs .blogs__item{
    width: 48%;
}
.blogs .blogs__item img{
    margin-top: 20px;
    width: 100%;
}
.blogs .blogs__title{
    color: #079b19;
    text-align: center;
    font-size: 25px;
}
.blogs .blogs__desc{
    color: gray;
    padding: 0px 35px 0px 30px;
    font-size: 12px;
}
.footer__hr{
    margin: 0 5% 0 5%;
}
footer ul{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
footer ul li{
    display: inline;
}
footer .nav__item{
    color: #7c7c7c;
    size: 18px;
    text-decoration: none;
    margin-left: 30px;
}
footer .footer__bottom{
    padding: 0 5% 0 5%;
    
}
footer .footer__bottom .bottom__content{
    height: 50px;
    width: 100%;
    background:  #079b19;
}

/** RESPONSIVE **/

@media only screen and (max-width: 900px){
    .intro .intro__block{
        top: 150%;
        left: 20%;
        height: 320px;
        padding: 20px 50px 20px 50px;
    }
    .banner .fa-chevron-left{
        top: 40%;
   
    }
    .banner .fa-chevron-right{
        top: 40%;
        position: absolute;
    }
    .intro__block .block__title{
        margin-bottom: 10px;
    }
    .intro__block .block__desc{
        color: gray;
        font-size: 10px;
    }
    .intro__block .block__btn {
        margin-left: 100px;
        padding: 20px 50px 20px 50px;
        margin-top: 30px;
    }
    .blogs .blogs__desc{
        padding: 0px 20px 0px 10px;
        font-size: 11px;
    }
    footer ul{
        margin-left: -70px;
    }
}
@media only screen and (max-width: 576px){
    .header{
        width: 240%;
    }
    .header .header__title{  
        font-size: 50px;
    }
    .navbar{
        margin-bottom: 20px;
        width: 100%;
    }
    .navbar ul li .nav__item{
        font-size: 25px;
        font-weight: 700;
    }

    .banner{
        margin-top: 140px;
    }
    .container .banner__img {
        width: 300%;
    }
    .banner .fa-chevron-left{
        top: 80%;
    }
    .banner .fa-chevron-right{ 
        top: 80%;   
        right: -132%;
    }
    
    .dot__icon{
        width: 300%;
    }
    .living__room h2{
        font-size: 35px;
        font-weight: 600;
        width: 300%;
    }
    .living__room .lv__content{
        width: 300%;
    }
    .living__room .lv__content .lv__item{
        width: 48%;
        margin-top: 20px;
    }
    .living__room .lv__content .lv__item .lv__title{
        font-size: 30px;
        font-weight: 600;
    }
    .living__room .lv__content .lv__item .lv__desc{
        font-size: 20px;
    }

    .intro .intro__block{
        top: 355%;
        width: 150%;
        left: 40%;
        height: 70%;
    }
    .intro__content .intro__banner{
       width: 255%;
    }
    .intro__block .block__title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 80px;
    }
    .intro__block .block__desc{
        font-size: 20px;
        font-weight: 600;
    }
    .intro__block .block__btn{
        margin-left: 35%;
    }
    .blogs{
        width: 300%;
    }
    .blogs .blogs__item{
        width: 100%;
    }
    .blogs .blogs__title{
        font-size: 30px;
        font-weight: 600;
    }
    .blogs .blogs__desc{
        padding: 0px 30px 0px 40px;
       font-size: 20px;
    }
    footer{
        width: 240%;
    }
    footer .nav__item{
        font-size: 25px;
        font-weight: 600;
    }
}
